@import "../../bower_components/susy/sass/susy";

$blueColor:#47a3da;;
$whiteColor:white;
$iconSize:130px;
$largerTextSize:40px;
$smallerTextSize:20px;
$fontFam:'Lato', Calibri, Arial, sans-serif;

// <!-- code for grid courtesy of http://www.responsivegridsystem.com/ -->
  // SECTIONS

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.fa{
font-size:$iconSize;
padding-top: 80px;
padding-left: 35%;
// transform-origin: 3cm 2px;
transition: transform .2s;

color:$blueColor;
}
.bar{
	height:6px;
	width:50%;
	background-color: $blueColor;
	margin:0 auto;
	transition: transform .2s;

}
.largerText{
  font-size: $largerTextSize;
  text-align: center;
  color:$blueColor;
	transition: transform .2s;
	font-family: $fontFam;
}
.smallerText{
  font-size: $smallerTextSize;
  text-align: center;
  color:$whiteColor;
	transition: transform .2s;
	font-family: $fontFam;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	// margin: 1% 0 1% 1.6%;
  background-color: $whiteColor;
  height:420px;
  border:solid 1px;
  color:$blueColor;
// font-size: :$iconSize;
}
.col:hover{
  background-color: $blueColor;
  .largerText, .fa, .smallerText{
    color: $whiteColor;
  }
	.bar,{
		background-color: $whiteColor;
		transform: translateY(.7in);
	}
	.largerText, .smallerText{
		transform: translateY(-.3in);
	}
	.fa{
		transform: translateY(.15in);
	}
}

// .largerText, .fa:hover{
//   color: $whiteColor;
// }
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
